.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

img {
  height: 100px;
  width: 100px;
}
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  max-height: 550px;
  background: white;
  border-radius: 4px;
  overflow: scroll;
  display: block;
}

.example-list1 {
  width: 1125px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: scroll;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 16px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.floatleft
		{
			float: left;
		}



 .containingbox {
  width: 240px;
  height: 100%;
}
div {
  clear: left;
}



ngb-carousel {
	.wrapper {
		position: relative;
		height: 0;
		padding-top: 55%;
		& > img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}

.mat-grid-tile-content1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}


.title-center {
  margin: 0 auto;
}
