<mat-toolbar color="primary" class="title-center">
  <mat-toolbar-row style="text-align: center">
    <span
      style="
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      "
      >Carousel</span
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="100px" cdkDropListGroup>
  <mat-grid-tile colspan="1" rowspan="7">
    <div class="containingbox">
      <div class="floatleft"></div>
      <div>
        <mat-form-field
          appearance="fill"
          style="margin-left: 10px; margin-top: 20px"
        >
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected">
            <mat-option
              *ngFor="let category of category_Data"
              [value]="category"
              (click)="searchImage()"
              >{{ category.categoryName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div cdkDropListGroup>
        <div class="example-container">
          <h2>Files</h2>

          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="left_Data"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of left_Data" cdkDrag>
              {{ item.imgName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="3"
    rowspan="5"
    #content
    class="mat-grid-tile-content1"
  >
    <div style="display: block !important">
      <ngb-carousel *ngIf="bottom_Data">
        <ng-template ngbSlide *ngFor="let d of bottom_Data">
          <div class="wrapper">
            <img
              [src]="d.imgUrl"
              alt="Random first slide"
              style="height: 85%; width: 100%; padding-right: 20px"
            />
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2" style="margin-left: -8px">
    <div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="bottom_Data"
        [cdkDropListConnectedTo]="[todoList]"
        cdkDropListOrientation="horizontal"
        class="example-list1"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          [cdkDragDisabled]="bottom_Data.length == 1"
          *ngFor="let item of bottom_Data"
          cdkDrag
        >
          <div style="width: 45%; padding-left: 15px">
            ​ <img [src]="item.imgUrl" />
            <p style="width: 150px; font-size: 12px">{{ item.imgName }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
